@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    cursor: default;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div {
    position: relative;
    width: 300px;
    border-radius: 15px;
    background-color: rgb(253, 244, 233);
    text-align: center;
}

h1 {
    width: 100%;
    display: block;
    font-size: 50px;
    text-decoration: underline;
}

div div:first-of-type {
    width: 100%;
    font-size: 150px;
    color: red;
}

@keyframes click {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

div div:nth-of-type(2) {
    position: absolute;
    bottom: 100px;
    background: none;
    font-size: 20px;
    color: white;
    animation: click 2s linear infinite alternate;
}